.center-line {
  height: 100px;
  width: 0.1px;
  border: 2px solid rgb(91, 91, 91);
  margin: auto;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
}

.dot-1 {
  display: inline-block;
  background-color: rgb(108, 108, 108);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  left: -13px;
  top: 20px;
  border: 4px solid rgb(218, 218, 218);
}

.dot-1::after {
  position: absolute;
  content: "MERN Stack (Udemy)";
  font-size: 20px;
  left: -150px;
  top: -8px;
}

.dot-2 {
  display: inline-block;
  background-color: rgb(108, 108, 108);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  left: -13px;
  top: 80px;
  border: 4px solid rgb(218, 218, 218);
}

.dot-2::after {
  position: absolute;
  content: "Python";
  font-size: 20px;
  left: 70px;
  top: -8px;
}

.skills_box > i{
  font-size: 80px;

}